@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #2b88d8, #22c3f0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  padding: 40px 20px;
  border-radius: 20px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 20px;
}

.weather-info {
  margin-top: 20px;
}

.weather-icon {
  width: 100px;
  margin-bottom: 20px;
}

.temp {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 10px;
}

.city {
  font-size: 28px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.col {
  display: flex;
  align-items: center;
}

.col img {
  width: 30px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 18px;
  font-weight: 500;
}

.details p {
  margin: 0;
  font-size: 14px;
}
